html {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #333333;
    background-color: white;
    height: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-tap-highlight-color: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

[hidden],
template {
    display: none;
}

svg:not(:root) {
    overflow: hidden;
}

a {
    background: transparent;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    color: #0088cc;
}

a:active {
    outline: 0;
}

a:active {
    color: #006699;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #000;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
    vertical-align: middle;
}

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

pre {
    overflow: auto;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button[disabled],
html input[disabled] {
    cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

input {
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
    resize: vertical;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

html,
button,
input,
select,
textarea {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
form,
blockquote {
    margin: 0;
}

ul,
ol,
li,
dl,
dd {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none outside none;
}

h1,
h2,
h3 {
    line-height: 2;
    font-weight: normal;
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #cccccc;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #cccccc;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #cccccc;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin Offset($url, $top, $left, $width, $height) {
    position: absolute;
    @if $top {
        top:#{$top / 40}rem;
    }
    @if $left {
        left:#{$left / 40}rem;
    }
    width: #{ $width / 40 }rem;
    height: #{ $height / 40}rem;
    @if $url {
        background-image:url(../images/#{$url}.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

@mixin Center($url, $top, $width, $height) {
    position: absolute;
    @if $top {
        top:#{$top / 40}rem;
    }
    left:50%;
    margin-left:#{-$width/80}rem;
    width: #{$width/40}rem;
    height: #{$height/40}rem;
    @if $url {
        background-image:url(../images/#{$url}.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

@mixin CenterH($url, $left, $width, $height) {
    position: absolute;
    @if $left {
        left:#{$left / 40}rem;
    }
    top: 50%;
    margin-top:#{-$height/80}rem;
    width: #{$width/40}rem;
    height: #{$height/40}rem;
    @if $url {
        background-image:url(../images/#{$url}.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

@mixin Middle($url, $width, $height) {
    position: absolute;
    top: 50%;
    margin-top:#{-$height/80}rem;
    left: 50%;
    margin-left:#{-$width/80}rem;
    width: #{$width/40}rem;
    height: #{$height/40}rem;
    @if $url {
        background-image:url(../images/#{$url}.png);
        background-size: 100%;
        background-repeat: no-repeat;
    }
}

//横竖屏样式代码
#orientation_hinter {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #131313;
    z-index: 999;
    display: none;
}

#orientation_hinter .hinter_phone {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -57px;
}

#orientation_hinter .hinter_phone i {
    display: block;
    width: 114px;
    height: 60px;
    background: url(../images/landscape_phone@2x.png) no-repeat center center transparent;
    background-size: 114px 60px;
    -webkit-animation: rotateHint 2.6s ease-in infinite;
    animation: rotateHint 2.6s ease-in infinite;
}

#orientation_hinter.portrait .hinter_phone {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

#orientation_hinter .hinter_rotate {
    width: 155px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -15px 0 0 -77px;
    background: url(../images/landscape_hint@2x.png) no-repeat center center transparent;
    background-size: 155px 30px;
}

#orientation_hinter .hinter_text {
    position: absolute;
    right: 0;
    bottom: 15%;
    left: 0;
    color: #bbbbbb;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    line-height: 1;
    display: none;
}

@-webkit-keyframes rotateHint {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 0.2;
    }
    50% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        opacity: 0;
    }
}

@keyframes rotateHint {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        opacity: 0.2;
    }
    50% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        opacity: 0;
    }
}

@media screen and (orientation: landscape) {
    #orientation_hinter.landscape,
    #orientation_hinter.landscape .landscape {
        display: block;
    }
}

@media screen and (orientation: portrait) {
    #orientation_hinter.portrait,
    #orientation_hinter.portrait .portrait {
        display: block;
    }
}