@import "common.scss";
@media only screen and (max-width: 414px),
only screen and (max-device-width:414px) {
    html,
    body {
        font-size: 22px;
    }
}

@media only screen and (max-width: 400px),
only screen and (max-device-width:400px) {
    html,
    body {
        font-size: 21.33px;
    }
}

@media only screen and (max-width: 375px),
only screen and (max-device-width:375px) {
    html,
    body {
        font-size: 20px;
    }
}

@media only screen and (max-width: 360px),
only screen and (max-device-width:360px) {
    html,
    body {
        font-size: 19.2px;
    }
}

@media only screen and (max-width: 320px),
only screen and (max-device-width:320px) {
    html,
    body {
        font-size: 17px;
    }
}

//音频样式
.music_icon {
    position: fixed;
    width: 37px;
    height: 36px;
    background: url(../images/music_icon.png) no-repeat;
    background-size: 37px 72px;
    z-index: 3;
    right: 15px;
    top: 15px;
    display: none;
}

.music_icon.mute {
    background-position: left bottom;
}

body,
html,
.wrap,
.page,
.page_inner {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.page {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    // border: 2px solid #000000;
}

.btn_up {
    position: fixed;
    left: 50%;
    margin-left: -0.5rem;
    top: 2rem;
    // background-color: red;
    width: 2rem;
    height: 2rem;
    font-size: 1.6rem;
    color: #757373;
    -webkit-animation: ani_turn1 1.2s linear 0s infinite alternate;
}

.btn_down {
    position: fixed;
    left: 50%;
    margin-left: -0.5rem;
    bottom: 2rem;
    // background-color: red;
    width: 2rem;
    height: 2rem;
    font-size: 1.6rem;
    color: #757373;
    -webkit-animation: ani_turn2 1.2s linear 0s infinite alternate;
}

.ld_page {
    .ld_bg {
        @include Center(null, 400, 464, 140);
        background-image: url(../images/fu_logo3.jpg);
        background-size: 100% 100%;
        // -webkit-transform: rotate(90deg);
    }
    .ld_num {
        @include Center(null, 550, 750, 40);
        color: black;
        font-size: 1rem;
        font-weight: 900;
        text-align: center;
        // -webkit-transform: rotate(90deg);
    }
    .ld_info {
        @include Center(null, 700, 750, 40);
        color: rgb(155, 155, 155);
        font-size: 0.7rem;
        // font-weight: 900;
        text-align: center;
        // -webkit-transform: rotate(90deg);
    }
}

.wrapper {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    // background: #ccc;
    overflow: hidden;
}

.scroll-list {
    // page 1
    .page1 {
        .page1_inner {
            background: url(../images/page1.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page 2
    .page2 {
        .page2_inner {
            background: url(../images/page2.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page 3
    .page3 {
        .page3_inner {
            background: url(../images/page3.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page 4
    .page4 {
        .page4_inner {
            background: url(../images/page4.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page 5
    .page5 {
        .page5_inner {
            background: url(../images/page5.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page 6
    .page6 {
        .page6_inner {
            background: url(../images/page6.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page 7
    .page7 {
        .page7_inner {
            background: url(../images/page7.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page 8
    .page8 {
        .page8_inner {
            background: url(../images/page8.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page 9
    .page9 {
        .page9_inner {
            background: url(../images/page9.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page 10
    .page10 {
        .page10_inner {
            background: url(../images/page10.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page 11
    .page11 {
        .page11_inner {
            background: url(../images/page11.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page 12
    .page12 {
        .page12_inner {
            background: url(../images/page12_1.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page 13
    .page13 {
        .page13_inner {
            background: url(../images/page13.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page 14
    .page14 {
        .page14_inner {
            background: url(../images/page14.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page 15
    .page15 {
        .page15_inner {
            background: url(../images/page15.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page 16
    .page16 {
        .page16_inner {
            background: url(../images/page16.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page 17
    .page17 {
        .page17_inner {
            background: url(../images/page17.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page 18
    .page18 {
        .page18_inner {
            background: url(../images/page18.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page19
    .page19 {
        .page19_inner {
            background: url(../images/page19.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page 20
    .page20 {
        .page20_inner {
            background: url(../images/page20.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page21
    .page21 {
        .page21_inner {
            background: url(../images/page21.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page22
    .page22 {
        .page22_inner {
            background: url(../images/page22.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page23
    .page23 {
        .page23_inner {
            background: url(../images/page23.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page24
    .page24 {
        .page24_inner {
            background: url(../images/page24.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page25
    .page25 {
        .page25_inner {
            background: url(../images/page25.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page26
    .page26 {
        .page26_inner {
            background: url(../images/page26.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page27
    .page27 {
        .page27_inner {
            background: url(../images/page27.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page28
    .page28 {
        .page28_inner {
            background: url(../images/page28.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page29
    .page29 {
        .page29_inner {
            background: url(../images/page29.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page30
    .page30 {
        .page30_inner {
            background: url(../images/page30.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page31
    .page31 {
        .page31_inner {
            background: url(../images/page31.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page32
    .page32 {
        .page32_inner {
            background: url(../images/page32.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page33
    .page33 {
        .page33_inner {
            background: url(../images/page33.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page34
    .page34 {
        .page34_inner {
            background: url(../images/page34.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page35
    .page35 {
        .page35_inner {
            background: url(../images/page35.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page36
    .page36 {
        .page36_inner {
            background: url(../images/page36.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page37
    .page37 {
        .page37_inner {
            background: url(../images/page37.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page38
    .page38 {
        .page38_inner {
            background: url(../images/page38.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
    // page39
    .page39 {
        .page39_inner {
            background: url(../images/page39.jpg) no-repeat;
            background-size: 100% 100%;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            // border: 2px solid #000000;
        }
    }
}


// 自己实现方式
.scroll-list {
    -webkit-transition: all 0.3s ease-out;
}

.scroll-list {
    width: 100%;
    height: 100%;
}

/**************************************************************************************************/

.play {
    // page1
    .page1_inner {
        -webkit-animation: showAni 0.5s linear 0.3s both;
    }
    // page2
    .page2_inner {
        -webkit-animation: showAni 0.5s linear 0.3s both;
    }
    // page3
    .page3_inner {
        -webkit-animation: showAni 0.5s linear 0.3s both;
    }
    // page4 
    .page4_inner {
        -webkit-animation: showAni 0.5s linear 0.3s both;
    }
    // page5 
    .page5_inner {
        -webkit-animation: showAni 0.5s linear 0.3s both;
    }
    // page6 
    .page6_inner {
        -webkit-animation: showAni 0.5s linear 0.3s both;
    }
    // page7
    .page7_inner {
        -webkit-animation: showAni 0.5s linear 0.3s both;
    }
    // page8
    .page8_inner {
        -webkit-animation: showAni 0.5s linear 0.3s both;
    }
    // page9 
    .page9_inner {
        -webkit-animation: showAni 0.5s linear 0.3s both;
    }
    // page10
    .page10_inner {
        -webkit-animation: showAni 0.5s linear 0.3s both;
    }
    // page11 
    .page11_inner {
        -webkit-animation: scaleIn 0.5s linear 0.3s both;
    }
    // page12
    .page12_inner {
        -webkit-animation: scaleIn 0.5s linear 0.3s both;
    }
    // page13
    .page13_inner {
        -webkit-animation: scaleIn 0.5s linear 0.3s both;
    }
    // page14 
    .page14_inner {
        -webkit-animation: scaleIn 0.5s linear 0.3s both;
    }
    // page15 
    .page15_inner {
        -webkit-animation: scaleIn 0.5s linear 0.3s both;
    }
    // page16 
    .page16_inner {
        -webkit-animation: scaleIn 0.5s linear 0.3s both;
    }
    // page17
    .page17_inner {
        -webkit-animation: scaleIn 0.5s linear 0.3s both;
    }
    // page18 
    .page18_inner {
        -webkit-animation: scaleIn 0.5s linear 0.3s both;
    }
    // page19
    .page19_inner {
        -webkit-animation: scaleIn 0.5s linear 0.3s both;
    }
    // page20 
    .page20_inner {
        -webkit-animation: scaleIn 0.5s linear 0.3s both;
    }
    // page21 
    .page21_inner {
        -webkit-animation: fadeInRight 0.5s linear 0.3s both;
    }
    // page22 
    .page22_inner {
        -webkit-animation: fadeInRight 0.5s linear 0.3s both;
    }
    // page23 
    .page23_inner {
        -webkit-animation: fadeInRight 0.5s linear 0.3s both;
    }
    // page24
    .page24_inner {
        -webkit-animation: fadeInRight 0.5s linear 0.3s both;
    }
    // page25 
    .page25_inner {
        -webkit-animation: fadeInRight 0.5s linear 0.3s both;
    }
    // page26 
    .page26_inner {
        -webkit-animation: fadeInRight 0.5s linear 0.3s both;
    }
    // page27 
    .page27_inner {
        -webkit-animation: fadeInRight 0.5s linear 0.3s both;
    }
    // page28 
    .page28_inner {
        -webkit-animation: fadeInRight 0.5s linear 0.3s both;
    }
    // page29 
    .page29_inner {
        -webkit-animation: fadeInRight 0.5s linear 0.3s both;
    }
    // page30 
    .page30_inner {
        -webkit-animation: fadeInRight 0.5s linear 0.3s both;
    }
    // page31 
    .page31_inner {
        -webkit-animation: fadeInRight 0.5s linear 0.3s both;
    }
    // page32 
    .page32_inner {
        -webkit-animation: roteteIn 0.5s linear 0.3s both;
    }
    // page33 
    .page33_inner {
        -webkit-animation: roteteIn 0.5s linear 0.3s both;
    }
    // page34 
    .page34_inner {
        -webkit-animation: roteteIn 0.5s linear 0.3s both;
    }
    // page35 
    .page35_inner {
        -webkit-animation: roteteIn 0.5s linear 0.3s both;
    }
    // page36 
    .page36_inner {
        -webkit-animation: roteteIn 0.5s linear 0.3s both;
    }
    // page37 
    .page37_inner {
        -webkit-animation: roteteIn 0.5s linear 0.3s both;
    }
    // page38 
    .page38_inner {
        -webkit-animation: roteteIn 0.5s linear 0.3s both;
    }
    // page39 
    .page39_inner {
        -webkit-animation: roteteIn 0.5s linear 0.3s both;
    }
}


/**************************************************************************************************/


/** Animate **/
@-webkit-keyframes showAni {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 0, 0);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 0, 0);
    }
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) translate3d(0, 0, 0);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    }
}

@-webkit-keyframes scaleIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 0, 0);
        -moz-transform: scale3d(.1, .1, .1) translate3d(0, 0, 0);
        -ms-transform: scale3d(.1, .1, .1) translate3d(0, 0, 0);
        -o-transform: scale3d(.1, .1, .1) translate3d(0, 0, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, 0, 0);
    }
    45% {
        opacity: 0.6;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 0, 0);
        -moz-transform: scale3d(.475, .475, .475) translate3d(0, 0, 0);
        -ms-transform: scale3d(.475, .475, .475) translate3d(0, 0, 0);
        -o-transform: scale3d(.475, .475, .475) translate3d(0, 0, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, 0, 0);
    }
    80% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
        -moz-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
        -ms-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
        -o-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
        transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
        -moz-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
        -ms-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
        -o-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
        transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    }
}

@-webkit-keyframes ani_turn1 {
    0% {
        -webkit-transform: translate(0, 0px);
        opacity: 0.4;
    }
    100% {
        -webkit-transform: translate(0, -0.4rem);
        opacity: 1;
    }
}

@-webkit-keyframes ani_turn2 {
    0% {
        -webkit-transform: translate(0, 0px);
        opacity: 0.4;
    }
    100% {
        -webkit-transform: translate(0, 0.4rem);
        opacity: 1;
    }
}

@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1) translate3d(0, 100%, 0);
    }
    20% {
        opacity: 1;
    }
    60% {
        -webkit-transform: scale3d(.5, .5, .5) translate3d(0, -20%, 0);
    }
    80% {
        -webkit-transform: scale3d(.8, .8, .8) translate3d(0, -5%, 0);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    }
}

@-webkit-keyframes roteteIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(1, 1, 1) translate3d(0, 100%, 0) rotate(900deg);
    }
    20% {
        opacity: 1;
    }
    60% {
        -webkit-transform: scale3d(.5, .5, .5) translate3d(0, -20%, 0) rotate(360deg);
    }
    80% {
        -webkit-transform: scale3d(.8, .8, .8) translate3d(0, -5%, 0) rotate(180deg);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0) rotate(0deg);
    }
}